.button {
    width: 750px;
    height: 150px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.12);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 1px;
    letter-spacing: 2px;
}
